* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /*background-image: url(../imagenes/just-waves.png);*/
  background-color: #00765d;
}

header {
  background-color: #00765d;
  width: 100%;
  height: 188px;
  position: fixed;
  z-index: 10;
}
/*
.contHeader {
  background-color: #004a6f;
  width: 100%;
  height: 188px;
  position: fixed;
}
*/

header nav ul {
  list-style: none;
  background-color: #003429;
  display: flex;
}

header nav ul li {
  flex: auto;
  border-right: 1px solid #00644f;
  text-align: center;
}

header nav ul li:last-child {
  border-right: none;
}

header nav ul li a {
  color: #c4eaf5;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-size: 20px;
  line-height: 2;
  transition: 0.4s;
}

header nav ul li a:hover {
  background: #c3f1e8;
  color: #003429;
}

header nav ul li a i {
  padding-right: 15px;
}

h1 {
  color: #c3f1e8;
  font-family: 'Montserrat', sans-serif;
  font-size: 52px;
  margin-top: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  letter-spacing: 2.5px;
}

h2 {
  color: #003429;
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
}

h3 {
  color: #339581;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  margin: 15px 0;
}

/*
figure {
  float: left;
}
*/

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: justify;
  line-height: 2rem;
}

pre {
  font-family: 'Open Sans', sans-serif;
}

section {
  margin-top: 20px;
}

.ancla::before {
  display: block;
  content: "";
  margin-top: -188px;
  height: 188px;
  visibility: hidden;
}

.cuerpo {
  max-width: 1100px;
  margin: auto;
  padding: 200px 15px 20px 15px;
  background-color: #e8fffb;
  /*
  position: relative;
  top: 188px;
  */
}

.cuerpo p {
  column-count: 2;
  column-width: 400px;
  column-gap: 2em;
}

.fa-arrows-up-to-line {
  width: 30px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 2em;
  color: #003429;
  transition: .2s;
  /*display: block;*/
}

.fa-arrows-up-to-line:hover {
  color: #ff9b00;
}

#INDICE, #Historia, #Geografia, #Playas {
  border-bottom: 3px solid #004a6f;
}

.imagenes figure {
  float: none;
  text-align: center;
  margin: 0;
}

.imagenes p {
  text-align: center;
}

.peq {
  display: inline-block;
  margin: auto;
}

.peq img {
  max-width: 200px;
}

.izquierda {
  float: left;
}

.wiki {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 80px;
}

.wiki a {
  padding-left: 20px;
  color: #004a6f;
  vertical-align: middle;
}

.wiki a:hover {
  color: #ff6d02;
}

.pie {
  background: #212121;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pie p {
  font-size: 14px;
  color: white;
  text-align: center;
}

.parrafo-pie-borde {
  border: #565656 10px groove;
  margin-top: 10px;
  padding: 5px 40px;
}

.pie abbr {
  cursor: help;
}
.volver {
  line-height: 3;
  /*
  background-color: #012f47;
  border-top: 2px solid #004467;
  */
  text-align: center;
  position: relative;
  background-color: #00765d;
}

.volver a {
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #c4eaf5;
}

.volver a:hover {
  color: #cdff00;
}

.fa-arrow-right-to-bracket {
  position: absolute;
  right: 10px;
  top: 50%;
  /*padding-right: 10px;*/
}

.imagen-cabecera figure img {
  max-width: 100%;
}

/* -- ASIDE -- */
.aside-izq {
  position: fixed;
  left: 0;
  top: 188px;
  z-index: -1;
}

.aside-izq img {
  height: 90vh;
}

.aside-der {
  position: fixed;
  right: 0;
  top: 188px;
  z-index: -1;
}

.aside-der img {
  height: 80vh;
}



/* ----------- Media-queries ----------- */

/* *****************  media-queries 1400px ******************* */

@media screen and (max-width: 1400px) {
  aside {
    display: none;
  }
}

/* *****************  media-queries 1000px ******************* */

@media screen and (max-width: 1000px) {
  #INDICE p {
    margin-bottom: 0;
    clear: both;
  }
  
  .imagen-p1 figure {
    margin-bottom: 10px;
    text-align: center;
    float: none;
  }

  header {
    /*height: 179px;*/
    height: 163px;
  }

  .cuerpo {
    padding-top: 163px;
  }

  header nav ul li a {
    font-size: 16px;
  }

  .volver {
    line-height: 2;
  }
}

/* *****************  media-queries 840px ******************* */

@media screen and (max-width: 840px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 18px;
  }
  .imagenes figure img {
    width: 40%;
  }
}

/* *****************  media-queries 822px ******************* */

@media screen and (max-width: 822px) {
  .fotoplayas {
    flex-direction: column;
  }
}

/* *****************  media-queries 724px ******************* */

@media screen and (max-width: 724px) {
  h1 {
    font-size: 40px;
  }

  header {
    position: relative;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    border-bottom: 1px solid #00644f;
  }
  
  header nav ul li:last-child {
    border-bottom: none;
  }

  header nav ul li a {
    font-size: 16px;
  }

  .ancla::before {
    display: none;
  }
}

/* *****************  media-queries 660px ******************* */

@media screen and (max-width: 660px) {
  h1 {
    font-size: 35px;
  }
}

/* *****************  media-queries 580px ******************* */

@media screen and (max-width: 580px) {
  h1 {
    font-size: 30px;
  }
}

/* *****************  media-queries 540px ******************* */

@media screen and (max-width: 540px) {

  p {
    font-size: 16px;
  }

  .wiki {
    flex-direction: column;
    line-height: 40px;
  }

  .viki a {
    font-size: 10px;
  }
}

/* *****************  media-queries 520px ******************* */

@media screen and (max-width: 520px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {font-size: 15px;}
}

/* *****************  media-queries 500px ******************* */

@media screen and (max-width: 500px) {
  header {
    height: 352px;
  }

  .cuerpo {
    padding: 10px 15px 20px 15px;
  }
}

/* *****************  media-queries 370px ******************* */

@media screen and (max-width: 370px) {
  .volver a {
    font-size: 12px;
  }

  .cuerpo {
    padding: 10px 15px 20px 15px;
  }
}
